*{
    margin: 0;
    padding: 0;
}
:root{
    --brown: rgb(56, 3, 3)
}
#logo{
    width: 100%;
    height: 100px;
}
.nav-item i{
    color: #80808094;
}
.nav-item{
    font-size: 20px;
}
#contactbtn{
    background-color:var(--brown);
    color: white;
}
#contactbtn:hover{
    background-color: white;
    color:var(--brown);
    border-color: var(--brown);
}
.main{
    background-image: url('./images/wood-main-min-3.jpg');
    height: 130vh;
    background-size: cover;
    background-attachment: fixed;
}
.welcome{
    padding-top: 20%;
    padding-left: 5%;
}
.welcome h2{
    color: white;
}
.welcome h1{
    font-size: 90px;
    color:rgba(117, 163, 167, 0.875);
    
}
.our-work{

    margin-top: 10%;
}
.our-work h1{
    text-align: center;
    padding-bottom: 3%;
}
.row{
    display: flex;
    background: url(./images/ThinkstockPhotos-511661914.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    padding-top: 4%;
    background-size: cover;
}
.view{

    border-color: var(--brown);
    color: var(--brown);
}
.view:hover{
    background-color: var(--brown);
    color: white;
}
